<!-- author Dominik Firla -->
<html>
	<body>
		<h1>RelDoc projekt</h1>
		<h2>MySQL</h2>
		{% for optionName, optionUrl in mysql %}
			<a href="{{optionUrl}}">{{optionName}}</a><br />
		{% endfor %}
		<h2>MongoDB</h2>
		{% for optionName, optionUrl in mongo %}
			<a href="{{optionUrl}}">{{optionName}}</a><br />
		{% endfor %}
		<h2>Performance testing</h2>
		<a href="{{path('performance')}}">Compare performance</a><br />
	</body>
</html>